
<bs-navbar></bs-navbar>
<main role="main" class="container" id="mainDiv">

  <div class="row" style="background-color:lightblue;">
    <div class="col-md-12 col-lg-12 col-lg-12 text-center" style="padding-bottom: 50px;">
      <h1>Weather Dashboard  <img src="../assets/weather.png" height="70" width="70"/></h1>  
      <h6><span>{{current_date }}</span></h6>
    </div>
    <div class="col-md-9 col-lg-9 col-lg-9" style="opacity: 0.9;">
        <hr>
        <router-outlet></router-outlet>
        <hr>
    </div>
    <div class="col-md-3 col-lg-3 col-lg-3 ">
        
        <br/>
        <hr>
        <h5>Select City</h5>
        <select (change)="onChange($event.target.value)" name="cities" id="cities">
            <option value="ob" routerLink="/obregon">Obregón</option>
            <option value="he" routerLink="/hermosillo">Hermosillo</option>
            <option value="na" routerLink="/navojoa">Navojoa</option>
            <option value="no" routerLink="/nogales">Nogales</option>
        </select>

        <hr>
        <br/>
        <hr>
        <h5>Select Degree Unit</h5>
        <select (change)="onChangeDegree($event.target.value)" name="units" id="unit">
          <option value="C">Celsius</option>
          <option value="F">Farenheit</option>
        </select>
        <hr>
        
    </div>
  
  </div>

</main>

